.dashboard-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex: 1 1 auto;

    .income{
        color: green;
    }

    .expense{
        color: red;
    }
}




