.homepage{
    margin-top: 50px;
    width: 300px;

    .title{
        text-align: center;
        padding-bottom: 30px;
    }

    .section-title{
        padding-bottom: 5px;
        border-bottom: solid 1px #ccc;
        margin: 20px 0 10px
    }
}